.slick{
    background-color: #f5f2f0;
}
.rounded-circle{
    width: 200px;
    height: 200px;
}

.link-style{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-left: 15px !important;
    
}